fastapi
uvicorn
jinja2
pydantic
torch
transformers
sentencepiece
pandas
accelerate
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
sentence-transformers
chromadb
scikit-learn
python-dotenv
python-multipart
pypdf
ipykernel
jupyter
